* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
}

.logo-container, .nav-links, .login-container {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo-container img{
    width: 100%;
    max-width: 130px;
    min-width: 90px;
    height: auto;
    margin-top: 30px;
}

nav {
    flex: 4;
}

.nav-links {
    justify-content: space-around;
    list-style-type: none;
    align-items: flex-start;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: gray;
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom: 3px solid gray;
}

.login-container {
    flex: 1;
    justify-content: flex-end;
}

.login-link {
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    border: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background: #77A6F7;
    color: white;
    border-radius: 9px;
    white-space: nowrap;
}

.login-link:hover {
    color: rgba(255, 255, 255, 0.750);
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    margin-top: 50px;
}

.introduction {
    animation: drop 1.5s ease;
}

.intro-title h1{
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.intro-text p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta button{
    font-size: 1.4rem;
    border: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background: #77A6F7;
    color: white;
    border-radius: 9px;
    
}

.cta button:hover {
    color: rgba(255, 255, 255, 0.750);
}

.cover {
    display: flex;
    justify-content: flex-end;
}

.cover img {
    height: 35vh;
    animation: drop 1.5s ease;
}

.background {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
    
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px) {
    * {
        font-size: 14px;
    }
}

/* Side Nav menu styling*/

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.356);
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    border-bottom: 1px solid white;
    text-decoration: none;
    font-size: 25px;
    color: #504e4ebe;
    display: block;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
  }

  .sidenav a:hover {
    color: black;
  }
  
  /* Page content */
  .main {
    margin-left: 275px; /* Same as the width of the sidenav */
    padding-top: 10px;
  }

  main .heading .title h1 {
    font-size: 30px;
  }



  /* styling the sign in / sign up form */
  .large-form-container h1 {
      font-weight: bold;
      margin: 0;
  }

  .large-form-container p {
      font-size: 1.1rem;
      margin: 20px 0 30px;
  }

  .large-form-container button {
    border-radius: 20px;
    border: 1px solid #77A6F7;
    background-color: #77A6F7;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }

.large-form-container button:active {
    transform: scale(0.95);
}

.large-form-container button:focus {
    outline: none;
}

.large-form-container button.ghost {
    background-color: transparent;
    border-color: #ffffff;
}

.large-form-container form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.large-form-container input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.large-form-container {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.large-form-container .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.large-form-container .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.large-form-container .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.large-form-container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.large-form-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.large-form-container .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.large-form-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.large-form-container .overlay {
    background: #77A6F7;
    background: -webkit-linear-gradient(to right, #00D8B1, #77A6F7);
    background: linear-gradient(to right, #77A6F7, #00D8B1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.large-form-container.right-panel-active .overlay {
    transform: translateX(50%);
}

.large-form-container .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.large-form-container .overlay-left {
    transform: translateX(-20%);
}

.large-form-container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.large-form-container .overlay-right {
    right: 0;
    transform: translateX(0);
}

.large-form-container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

#relationship {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* styling for the student page nav bar */

.side-nav-container {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    margin-top: 20px;
    text-align: center;
}

.side-nav-links {
    font-size: 2rem;
}

.side-nav-links a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 25px 8px 25px 16px;
    display: block;
}

/* styling the student page main portal content */
.students-main-container {
    height: 100%;
    width: 80%;
    float: right;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

}

.students-main-container h1{
    text-align: center;
    font-size: 1.5rem;
}

.students-main-portal-container {
    width: 400px;
    height: 250px;
}

.students-main-container img {
    max-width: 100%;
    height: auto;
}

  
/* about page styling */
.header #about-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 25%;
}

.header #about-header {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 55%;
    
}

.header #about-header .about {
    font-size: 40px;
    color: gray;
}

.header #about-content {
    padding: 20px;
}
