<div class="container unit-container">
                <h5 class="unit-heading">Unit 1</h5>

                <div class="row align-items-center mb-3">
                    <div class="col-2 text-center">
                        <label for="unitTitleInput1" class="form-label">Unit Title</label>
                    </div>
                    <div class="col-5">
                        <input class="form-control" name="unitTitle" id="unitTitleInput1" type="text">
                    </div>
                </div>

                <div class="row align-items-center mb-3">
                    <div class="col-2 text-center">
                        <label for="unitDescriptionInput1" class="form-label">Unit Description</label>
                    </div>
                    <div class="col-5">
                        <textarea class="form-control" name="unitDescription" id="unitDescriptionInput1" type="text"></textarea>
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <div class="col-2 text-center">
                        <label for="itemInput1" class="form-label">Item 1</label>
                    </div>
                    <div class="col-5">
                        <textarea class="form-control" name="item" id="itemInput1" type="text"></textarea>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-2 text-center">
                        <button type="button" class="btn btn-outline-dark">New Item</button>
                    </div>
                </div>
            </div>