<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-md">
        <a class="navbar-brand">
            <img
                src="/images/logo_transparent.png"
                class="img-fluid"
                alt="logo"
                width="40"
                height="40"
            />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/users/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/dashboard" id="dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/dashboard">Educators</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources" id="resources">Resources</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown" id="nav-dropdown-container">
                    <a
                        class="nav-link dropdown-toggle btn btn-light"
                        id="my-account-button"
                        href="#"
                        id="navbarDropdownMenuLink"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i
                            class="fas fa-user-circle fa-lg"
                            id="my-account-icon"
                        ></i
                        >My Account
                    </a>
                    <ul
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink"
                    >
                        <li>
                            <a class="dropdown-item nav-dropdown-items" href="#"
                                >Account Information</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item nav-dropdown-items"
                                href="/users/logout"
                                >Log Out</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
