<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="nav-background">
    <div class="container-md">
        <a class="navbar-brand">
            <img
                src="/images/logo_transparent.png"
                class="img-fluid"
                alt="logo"
                width="40"
                height="40"
            />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Educators</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <a href="/users/login" class="btn btn-outline-dark" id="log-in-btn">Log In</a>
            </ul>
            <ul class="navbar-nav">
                <a href="#" class="btn btn-primary" id="get-started-btn">Get Started</a>
            </ul>
        </div>
    </div>
</nav>
