<div class="voice-nav-container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fas fa-microphone-alt fa-3x"></i>
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Voice Navigation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Please enable voice in your browser.

          <br>
          Try saying things like: <br>
          "dashboard" <br>
          "resources page" <br>
          "where is my dashboard" 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
  <script>
      if (annyang) {
        // Let's define our first command. First the text we expect, and then the function it should call
        var commands = {
            'resources': function() {
                document.getElementById('resources').click();
            },

            'dashboard': function() {
                document.getElementById('dashboard').click();
            }
        };
    }

  // Add our commands to annyang
  annyang.addCommands(commands);
  annyang.addCallback('error', function() {
         console.log('There was an error in Annyang!');
    });

  // Start listening. You can call this here, or attach this call to an event, button, etc.
  annyang.start();
  </script>
