/* styles for ALL */

* {
  font-family: "Rubik", sans-serif;
}

/* styles for LOGIN PAGE */

@media (min-width: 769px) {
  #login-content {
    margin-top: 25vh;
  }
}

#login-form {
  font-size: 1.2rem;
}

#login-form-header {
  font-size: 1.5rem;
}

/* styles for REGISTER PAGE */
#register-form {
  font-size: 1.2rem;
}

#register-form-header {
  font-size: 1.5rem;
}

@media (min-width: 769px) {
  #register-content {
    margin-top: 10vh;
  }

  #register-logo {
    margin-top: 15vh;
  }
}

/* styles for ALERTS */

.alert {
  font-size: 1rem;
}

/* styles for NAVBAR */
#navbarDropdown{
  list-style-type: none;
}
