/* styles for ALL */

* {
  font-family: "Rubik", sans-serif;
}

/* styles for NAVBAR */

.navbar {
  font-size: 1.8rem;
}

.nav-item {
  margin-right: 30px;
}

#navbarDropdown .dropdown-menu .dropdown-item{
  font-size: 1.8rem;
}

/* styles for LOGIN PAGE */

@media (min-width: 769px) {
  #login-content {
    margin-top: 20vh;
  }
}

#login-form {
  font-size: 1.8rem;
}

#login-form-header {
  font-size: 2rem;
}

#login-button {
  font-size: 1.5rem;
}

/* styles for REGISTER PAGE */
#register-form {
  font-size: 1.8rem;
}

#register-form-header {
  font-size: 2rem;
}

#register-button {
  font-size: 1.5rem;
}

@media (min-width: 769px) {
  #register-content {
    margin-top: 5vh;
  }

  #register-logo {
    margin-top: 15vh;
  }
}

/* styles for ALERTS */

.alert {
  font-size: 1rem;
}

/* styles for NAVBAR */
#navbarDropdown{
  list-style-type: none;
}

/* styles for HOMEPAGE */

#index-greeting h1{
  font-weight: 800;
  font-size: 4rem;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 3px;
  margin: 15vh;
  color: white;
}

.index-heading-container {
  background-color: #1652f0;  
}

#index-header {
  font-weight: 600;
  margin-top: 10vh;
  font-size: 3rem;
}

.index-subheader {
  margin-top: 2vh;
  font-size: 1.2rem;
}

.index-img-container {
  display: block;
  margin: auto;
  width: 50%;
}

.index-col-header {
  font-size: 1.8rem;
  font-weight: 500;
}

.index-col-subheader {
  font-size: 1.2rem;
}

.index-row-container {
  margin-top: 200px;
}

.row .index-col-button {
  font-size: 1.5rem;
}

/* styles for Resources page*/

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}