<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="page">
    <header>
        <%- include('../partials/private-nav'); %>
    </header>

    <main class="page-content">
        <%- include('../partials/create-course-form'); %>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>