<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="page">
    <header>
        <%- include('../partials/private-nav'); %>
    </header>

    <main class="page-content">
        <section class="container-md">
            <div class="mb-3">
                
            </div>
        </section>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>