<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container-md">
            <div class="row">
                <div class="col-8 border">
                    <div id="index-greeting">
                        <p>Hi, nice</p>
                        <p>to see you,</p>
                        <p id="index-users-name"><%= firstname %></p>
                    </div>
                </div>
                <div class="col-4 border">
                    <img src="images/focused_working.svg" class="img-fluid">
                </div>
            </div>

            <div class="row">
                <div class="col-4 border">
                    a
                </div>
                <div class="col-4 border">
                    a
                </div>
                <div class="col-4 border">
                    
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>