<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container-md">
            <div class="row">
                <div class="col-8 border">
                    <div class="card m-5">
                        <div class="card-body">
                          <h5 class="card-title">Welcome to Accessible Virtual Learning <%= firstname %>!</h5>
                          <p class="card-text">AVL is an accessible learning platform for students and educators. We believe programming and the basics of computer science should be available for all!</p>
                        </div>
                      </div>
                </div>
                <div class="col-4 border m-5">
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>