<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/public-nav'); %>
    </header>

    <main>
        <div class="container-md">
            <div class="row" id="index-main">
                <div class="col-md-6 col-12 index-general-text" id="index-greeting-container">
                    <h1>Welcome to Accessible Virtual Learning.</h1>
                </div>
                <div class="col-6 index-general-image">
                    <img class="img-fluid" src="/images/logo.png" id="index-logo">
                </div>
            </div>

            <div class="row" id="index-call-to-action">
                <div class="col-6 mx-auto shadow-lg" id="index-call-to-action-container">
                    <h4>New here? Please make an account to get started.</h4>
                    <hr>
                    <p>Creating an account allows educators to create courses and students to enroll in courses. We offer both educator and student accounts.</p>
                    <a href="/users/register" class="btn btn-outline-dark">Register</a>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>