<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <section class="container-md">
            <div class="row" id="login-content">
                <div class="col-md-6 col-sm-12 p-5">
                    <div class="index-logo-container mx-auto">
                        <img
                            src="/images/logo.png"
                            class="img-fluid"
                            alt="logo"
                            id="login-logo"
                        />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 p-5">
                    <form id="login-form" method="post">
                        <h5 class="mb-4 text-center" id="login-form-header">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="25"
                                height="25"
                                fill="currentColor"
                                class="bi bi-person-fill mx-2"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                                /></svg
                            >Member Login
                        </h5>
                        <%- include('../partials/messages'); %>
                        <div class="mb-3">
                            <label for="emailInput" class="form-label"
                                >Email address</label
                            >
                            <input
                                name="email"
                                type="email"
                                class="form-control"
                                id="emailInput"
                                aria-describedby="emailHelp"
                                value="<%= typeof email != 'undefined' ? email : '' %>"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="passwordInput" class="form-label"
                                >Password</label
                            >
                            <input
                                name="password"
                                type="password"
                                class="form-control"
                                id="passwordInput"
                                aria-describedby="passwordHelp"
                            />
                        </div>
                        <button
                            type="submit"
                            class="btn btn-primary"
                            id="login-button"
                        >
                            Submit
                        </button>
                        <div class="form-text text-center my-3">
                            Don't have an Account?
                            <a
                                href="/users/register"
                                aria-describedby="registerHelp"
                                >Register.</a
                            >
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>
