<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="../../public/javascripts/course-form.js"></script>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main> 

    </main>
    <%- include('../partials/footer'); %>
</body>
</html>