<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/private-nav'); %>
    </header>

    <main class="page-content">
        <div class="container-md resources-container">
            <h1>Resources</h1>
        <div class="container">
            <div class="row pt-5 m-auto">
        
              <div class="col-md-6 col-lg-4 pb-3">
                <div class="card card-custom bg-white border-white border-0">
                  <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                  <div class="card-custom-avatar">
                    <img class="img-fluid" src="/images/khan.png" alt="Avatar" />
                  </div>
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Khan Academy</h4>
                    <p class="card-text">Khan Academy is a nonprofit organization that provides computer science modules on numerous topics, such as algorithms, cryptography, information theory, and more.</p>
                  </div>
                  <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a href="https://www.khanacademy.org/computing/computer-science" class="btn btn-primary">Visit</a>
                    
                  </div>
                </div>
              </div>
        
              <div class="col-md-6 col-lg-4 pb-3">
                <div class="card card-custom bg-white border-white border-0">
                  <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                  <div class="card-custom-avatar">
                    <img class="img-fluid" src="/images/zulama.png" alt="Avatar" />
                  </div>
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Zulama</h4>
                    <p class="card-text">Zulama is a project-based computer science platform that was designed and written by faculty at the world-renowned institutions MIT and Carnegie Mellon University. </p>
                  </div>
                  <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a href="https://www.carnegielearning.com/solutions/applied-sciences/computer-science/" class="btn btn-primary">Visit</a>
                  </div>
                </div>
              </div>
        
              <div class="col-md-6 col-lg-4 pb-3">
                <div class="card card-custom bg-white border-white border-0" style="height: 450px">
                  <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                  <div class="card-custom-avatar">
                    <img class="img-fluid" src="/images/scratch.png" alt="Avatar" />
                  </div>
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Scratch</h4>
                    <p class="card-text">Scratch is a free programming language and online community where you can create your own interactive stories, games, and animations.</p>
                  </div>
                  <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a href="https://scratch.mit.edu/ideas" class="btn btn-primary">Visit</a>
                    
                  </div>
                </div>
              </div>
        
              <br>
              <br>
              <br>
        
              <div class="col-md-6 col-lg-4 pb-3">
                <div class="card card-custom bg-white border-white border-0">
                  <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                  <div class="card-custom-avatar">
                    <img class="img-fluid" src="/images/codeacademy.png" alt="Avatar" />
                  </div>
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Codecademy</h4>
                    <p class="card-text">Codecademy is a platform that has all of the resources to teach technical skills that directly translate to skills that are most in demand in the workforce.</p>
                  </div>
                  <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a href="https://www.codecademy.com/" class="btn btn-primary">Visit</a>
                  </div>
                </div>
              </div>
        
              <div class="col-md-6 col-lg-4 pb-3">
                <div class="card card-custom bg-white border-white border-0">
                  <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                  <div class="card-custom-avatar">
                    <img class="img-fluid" src="/images/blockly.png" alt="Avatar" />
                  </div>
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Blockly</h4>
                    <p class="card-text">Blockly Games has fun activities to teach coding in an engaging and accessible way. The modules teach the basics of programming.</p>
                  </div>
                  <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a href="https://blockly.games/" class="btn btn-primary">Visit</a>
                  </div>
                </div>
              </div>
        
              <div class="col-md-6 col-lg-4 pb-3">
                <div class="card card-custom bg-white border-white border-0">
                  <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                  <div class="card-custom-avatar">
                    <img class="img-fluid" src="/images/Code.org-Logo.png" alt="Avatar" />
                  </div>
                  <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">Code.org</h4>
                    <p class="card-text">Code.org is designed for all ages and has tutorials covering a wide range of topics to teach the fundamentals of programming.</p>
                  </div>
                  <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a href="https://code.org/learn" class="btn btn-primary">Visit</a>
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        
        
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>